
.products-list {

  &.rendering {
    height: calc(100% - 148px);
  }
}


//
// Products list
// --------------------------------------------------

.pdt-list {
  background: @white;
  border-radius: @border-radius-large;
  border: 1px solid @border;
  display: table;
  width: 100%;
}

.thmb-col {
  &.pdt-list {
    .pdt-lst-itm {
      .clearfix;
      border: none;
      cursor: pointer;
      height: 70px;
      padding: 11px @padding-large-horizontal;
      line-height: 70px;
      margin: 0;
      position: relative;
      vertical-align: middle;
      width: 100%;

      & + .pdt-lst-itm:before {
        border-top: 1px solid @border;
        content: '';
        display: block;
        height: 1px;
        left: 1%;
        position: absolute;
        top: 0;
        width: 98%;
      }

      .thmb-img,
      .pdt-name,
      .pdt-price,
      .bullet {
        margin-left: 20px;
      }

      .icon-handler,
      .pdt-name,
      .pdt-price {
        line-height: 48px;
      }

      .icon-handler {
        .opacity(1);
        cursor: -webkit-grab;
        cursor: grab;
        float: left;
        position: static;
      }

      .thmb-img {
        border-radius: 4px;
        display: block;
        float: left;
        height: 48px;
        position: static; // override default behavior
        width: 48px;
      }

      .thmb-capt {
        padding: 0;
        position: static;
      }

      .badge {
        background: @product;
        position: relative;
        top: 24px;
      }

      .bullet {
        position: relative;
        top: 18px;
      }

      .pdt-price {
        text-align: right;
        width: 120px;
      }

      .pdt-price,
      .badge {
        float: right;
      }

      .pdt-name {
        float: left;
      }
    }
  }
}

//
// Products list
// --------------------------------------------------

.product-gallery {
  .center-block;
  width: @thumbnail-witdh
}

//
// Product category
// --------------------------------------------------

.modal-catgories {
  .clearfix;
  height: 455px;
}

.modal-sub-catgories,
.modal-main-catgories {
  color: @gray-dark;
  float: left;
  height: 100%;
  width: 50%;

  h3 {
    border-bottom: 1px solid @border-ligth;
    height: 80px;
    font-size: @font-size-small;
    font-weight: bold;
    line-height: 80px;
    padding-left: 50px;
    position: relative;
    text-transform: uppercase;

    a {
      color: @gray-dark;
      font-size: 22px;
      // font-weight: normal;
      position: absolute;
      right: 13px;
      top: -2px;
    }
  }
}

.modal-main-catgories {
  border-right: 1px solid @border-ligth
}

.modal-catgories-list {
  height: calc( 100% - 80px );

  li {
    border-bottom: 1px solid @border-ligth;
    height: 55px;
    line-height: 55px;

    &:hover {
      background: @bkgd-hover;

      .icon {
        color: @gray-dark;
      }
    }

    &.active {
      background: @product;
      color: @white;

      .icon {
        color: @white !important
      }
    }

    &.ui-sortable-helper {
      background: @bkgd-hover !important;
      border-top: 1px solid @border-ligth;
      color: @gray-dark;
      z-index: ( @zindex-higher + 1000) !important;

      .icon {
        color: @gray-dark !important;
      }

      .icon-trash,
      .badge {
        display: none !important
      }
    }
  }

  .icon {
    color: @white;
    font-size: @font-size-small
  }

  .icon-handler {
    cursor: -webkit-grab;
    cursor: grab;
    margin: 0 15px;
  }

  .icon-trash {
    cursor: pointer;
    float: right;
    margin: 18px 15px 0 0;
  }

  .badge {
    background: @white;
    color: @gray-dark;
    margin-left: 5px;
  }
}

