
.customers-list.fetch-holder.rendering {
  .cln-lst {
    display: none;
  }

  &.customers-list {
    height: calc(100% - 189px)
  }

  &.empty {
    .empty-list {
      font-size: 26px
    }
  }
}

//
// Customers resume
// --------------------------------------------------


  // orders resume details 
.cust-rsum {
  padding-top: ( @font-size-large + 10px );
  margin-left: @list-status-width;
}

  // customers resume row
.cust-row {
  
  &.active {
    .transition(all, 500ms, ease);
    background: @customer;
    border-top: 1px solid @customer; 

    & * {
      color: @white !important;
    }
  }
}

.cust-identifier {
  line-height: 20px;
  min-height: 60px;
}

.cust-action {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 100;
}

//
// Customer Addresses List
// --------------------------------------------------

.cust-addresses {
  border-bottom: 1px solid @border-ligth;
  width: 100%;

  td {
    border-top: 1px solid @border-ligth;
    padding: 30px 0;
  }

  .address-id {
    background: @gray-lighter;
    border-radius: 40px;
    color: @gray;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 40px;
  }

  a {
    color: @customer;
  }
}

.cust-no-addresses {
  background: @gray-lighter;
  color: @gray;
  display: block;
  padding: @padding-large-vertical @padding-large-horizontal;
}
